body {
  font-family: Helvetica;
  text-align: center;
}
a {
  color: white;
}
.home {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
#homemenu {
  font-size: 18px;
}
.background {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
h2 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
#smallmenu {
  font-size: 14px;
}
